{% extends 'manage/base.html' %}

{% block title %}
    <title>Vikings | 主机列表</title>
{% endblock %}

{% block instancelist %}active{% endblock %}

{% block body %}
    <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> &nbsp; {{indexname}} 
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable="false" onclick="check_all('asset_form')">
                                            </th>
                                            <th class="text-center"> 主机名 </th>
                                            <th class="text-center"> IP地址 </th>
                                            <th class="text-center"> IDC </th>
                                            <th class="text-center"> 操作系统 </th>
                                            <th class="text-center"> cpu核数 </th>
                                            <th class="text-center"> 内存 </th>
                                            <th class="text-center"> 硬盘 </th>
                                            <th class="text-center"> 操作 </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in instance_list %}
                                        <tr class="gradeX">
                                            <td class="text-center" name="id" value="206" data-editable="false">
                                                <input name="id" value="206" type="checkbox" class="i-checks">
                                            </td>
                                            <td class="text-center hostname"> <a href="#">{{ item.name }}</a></td>
                                            <td class="text-center"> {{ item.zone }} </td>
                                            <td class="text-center"> {{ item.cpu_type }} </td>
                                            <td class="text-center">{{ item.cpu_core }}</td>
                                            <td class="text-center">{{ item.os_type }}</td>
                                            <td class="text-center">{{ item.inner_ip }}</td>
{#                                            <td class="text-center">{{ item.memory }}</td>#}
                                            <td class="text-center">{{ item.disk_size }}</td>
                                            <td class="text-center" data-editable="false">
                                                <a href="/jasset/asset/edit/?id=209" class="btn btn-xs btn-info">编辑</a>
                                                <a value="209" class="conn btn btn-xs btn-warning">连接</a>
                                                <a value="/jasset/asset/del/?id=209" class="btn btn-xs btn-danger asset_del">删除</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                               <hr>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
{% endblock %}
